{
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-console": "warn"
  },
  "env": {
    "node": true,
    "browser": true,
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true
  }
}
