{
  "extends": ["airbnb","plugin:jest/recommended"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/button-has-type": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "arrow-body-style": "off",
    "max-len": "off",
    "no-use-before-define": "off",
    "no-console": "off",
    "arrow-parens": "off",
    "no-param-reassign": "off",
    "no-unused-vars": "off",
    "no-trailing-spaces": "off",
    "import/no-cycle": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-closing-bracket-location": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-underscore-dangle": "off",
    "react/destructuring-assignment": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true
  },
  "plugins": ["react-hooks"]
}
